{% extends 'biblioteca/base.html' %}

{% block content %}
    <h2>{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Título:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_author">Autor:</label>
            {{ form.author }}
        </div>
        <div class="form-group">
            <label for="id_published_date">Fecha de Publicación:</label>
            {{ form.published_date }}
        </div>
        <div class="form-group">
            <label for="id_available">Disponible:</label>
            {{ form.available }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'book_list' %}" class="btn btn-info">Cancelar</a>
    </form>
{% endblock %}